* {
  background-color: #fafafa;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  margin: 60px;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.img {
  margin-bottom: 15px;
}

.login {
  justify-items: center;
  display: grid;
}

.login input {
  width: 270px;
  border: none;
  display: grid;
  height: 38px;
  border: 1px;
  border-color: #dbdbdb;
  border-radius: 1px;
  margin-bottom: 6px;
  border: 1px solid #dbdbdb;
}

.login button {
  border: none;
  width: 270px;
  height: 30px;
  color: #ffffff;
  background-color: #0095f64d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 18px;
  border-radius: 4px;
  margin-bottom: 18px;
  margin-top: 14px;
}

.divisor {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8e8e8e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin-bottom: 26px;
  & hr {
    width: 107.25px;
    border: solid 1px #dbdbdb;
  }
  & span {
    font-weight: bold;
  }
}

.facebook button {
  height: 20px;
  width: 270px;
  color: #385185;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  margin-bottom: 21px;
  font-weight: bold;
}

.account {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-bottom: 68.5px;
}

.account div {
  color: #00376b;
  margin-bottom: 79.5px;
}

.account a {
  margin-top: 79 5px;
  font-weight: bold;
  background-color: 0095F6;
  color: #0095f6;
  text-decoration: none;
}

.apps {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 390px;
  height: 102px;
  margin: bottom 32.02px;
}

#gp {
  width: 134.28125px;
  height: 40px;
}

#microsoft {
  width: 110.765625px;
  height: 40px;
}

footer {
  color: #8e8e8e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 16px
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 9px 15px;
  flex-wrap: wrap;
  margin: auto;
  list-style-type: none;
  padding: 0;
  font-size: 12px;
}
